/*
COLORS:

Light green: 126, 213, 111
Medium green: 85, 197, 122
Dark green: 40, 180, 133

*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 1st we normalize the document */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  /* font-size: 1.6px; */
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 3rem;
}

.heading-text {
  color: white;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.heading-text--primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 4rem;
  padding-left: 1.5%;
  -webkit-animation: moveInLeft 1s ease-in;
          animation: moveInLeft 1s ease-in;
}

.heading-text--secondary {
  display: block;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-weight: 400;
  -webkit-animation: moveInRight 1s ease-in;
          animation: moveInRight 1s ease-in;
}

.btn {
  /*this will be the only animated btn so we made a class specially for it  */
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0rem 2rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 2rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.3) scaleY(1.7);
          transform: scaleX(1.3) scaleY(1.7);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0rem 1rem 1rem rgba(1, 80, 1, 0.4);
          box-shadow: 0rem 1rem 1rem rgba(1, 80, 1, 0.4);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn--white::after {
  background-color: white;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 100px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn--animated {
  -webkit-animation: moveInBottom 1.5s ease-in backwards;
          animation: moveInBottom 1.5s ease-in backwards;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 5%;
  left: 3%;
}

.header__logo-img {
  height: 4rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
/*# sourceMappingURL=main.css.map */