/*
COLORS:

Light green: 126, 213, 111
Medium green: 85, 197, 122
Dark green: 40, 180, 133

*/

/* 1st we normalize the document */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we set the root font to control responsiveness with rem units */
html {
  font-size: 62.5%;
}

/* the body controls the font through inheritance */

body {
  font-family: "lato", sans-serif;
  /* font-size: 1.6px; */
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 3rem;
}

/* *******header****** */
.header {
  height: 95vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");

  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 5%;
  left: 3%;
}

.header__logo-img {
  height: 4rem;
}

.heading-text {
  color: white;
  text-transform: uppercase;

  margin-bottom: 5rem;
}

.heading-text--primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 4rem;
  padding-left: 1.5%;

  animation: moveInLeft 1s ease-in;
}

.heading-text--secondary {
  display: block;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-weight: 400;

  animation: moveInRight 1s ease-in;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.5s;
}

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0rem 2rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.7s;
}

.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.7);
  opacity: 0;
}

/*this will be the only animated btn so we made a class specially for it  */
.btn--animated {
  animation: moveInBottom 2s ease-in 0.3s backwards;
}
